<mat-sidenav-container class="sidenav-container" id="main-content">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="ml-2" style="font-size:15px;" routerLink="/first-page" (click)="toggleDrawer()" routerLinkActive="active-list-item">
        <mat-icon mat-list-icon>home</mat-icon>
        Home
      </a>
      <a mat-list-item class="ml-2" style="font-size:15px;" routerLink="/second-page" (click)="toggleDrawer()" routerLinkActive="active-list-item">
        <mat-icon matListIcon>lock</mat-icon>
        Private
      </a>
      <a mat-list-item class="ml-2" style="font-size:15px;" routerLink="/third-page" (click)="toggleDrawer()" routerLinkActive="active-list-item">
        <mat-icon matListIcon>person</mat-icon>
        Personal
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>auth0-app</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
